/***************
 * mate-panel *
 ***************/

/* first make all transparent */
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    
}

#PanelPlug,
PanelToplevel > * {
border-color: transparent;
}
/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background,
PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) { 
    background-color: #637286;
        background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
        box-shadow: inset 0 40px #637286;
 border-width: 0px;
}

.mate-panel-menu-bar > *:not(menu){
	 color: $selected_fg_color;
}

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
.mate-panel-menu-bar {
background-image: none;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .csd.popup decoration {
}


/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
}

#PanelApplet {
    border-width: 1px;
    box-shadow: inset 0 1px #a9aebd, inset 0 -1px #a9aebd;
    border-color: #2b395e;
  border-style: solid;
background-color: #ccdbd2;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    background-color:black;
    text-shadow: none;
    padding:0px;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button,
.mate-panel-menu-bar #PanelApplet button.flat,
.mate-panel-menu-bar #PanelApplet button.toggle,
.mate-panel-menu-bar #PanelApplet button.flat.toggle {
   background-color:#9a9a9a;
    
    border-radius: 6px;
    padding-left: 2px;
    border-width: 1px;
//    box-shadow: inset 0 1px #9b9b9b, inset 0 -1px #9b9b9b, inset 1px 0 #9b9b9b, inset -1px 0 #9b9b9b;
    border-color: #737373;
    text-shadow: none;
    color:white;
}

.mate-panel-menu-bar #PanelApplet button:checked,
.mate-panel-menu-bar #PanelApplet button:checked:hover,
.mate-panel-menu-bar #PanelApplet button:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat:checked,
.mate-panel-menu-bar #PanelApplet button.flat:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover:active,
.mate-panel-menu-bar #PanelApplet button.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover:active {

background-color:#265fff;
background-image: none;
    
    border-radius: 0;
    border-width: 1px;
   
    border-color: #737373;;
    text-shadow: none;
    color:white;
}

.mate-panel-menu-bar #PanelApplet button:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover {
  background-color: #668eff;
  background-image: none;
    box-shadow:none;
    text-shadow: none;
    color: white;

}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
    border: 1px solid #000;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    border-style: none;
}

.mate-panel-applet-slider .frame .button {
   /* color: @theme_fg_color;*/
}


  .xfce4-panel.background {
      background-color: #637286;
        background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
        box-shadow: inset 0 40px #637286;
 border-width: 0px;
   }


   .xfce4-panel label { color:$selected_fg_color; }

    .xfce4-panel .tasklist .toggle {
  background-color:#9a9a9a;
    
    border-radius: 6px;
    padding-left: 2px;
    border-width: 1px;
//    box-shadow: inset 0 1px #9b9b9b, inset 0 -1px #9b9b9b, inset 1px 0 #9b9b9b, inset -1px 0 #9b9b9b;
    border-color: #737373;
    text-shadow: none;
    color:white; }


    .xfce4-panel .tasklist .toggle:hover,
 {
     background-color: #668eff;
  background-image: none;
    box-shadow:none;
    text-shadow: none;
    color: white;


    } 

    .xfce4-panel .tasklist .toggle:checked,
    .xfce4-panel .tasklist .toggle:checked:hover,
    .xfce4-panel .tasklist .toggle:hover:active,
    .xfce4-panel .tasklist .toggle:checked {

background-color:#265fff;
background-image: none;
    
    border-radius: 0;
    border-width: 1px;
   
    border-color: #737373;;
    text-shadow: none;
    color:white;
    }

/************
 * Caja *
 ************/


/* caja sidebar */
/* all sidebars */
.caja-side-pane treeview.view,
.caja-side-pane textview.view text,
.caja-side-pane viewport.frame,
.caja-side-pane widget .vertical {
    background-color: #e6e6e6;
    color: $fg_color;
}


/****
*Closebuttons*
******/

  headerbar .titlebutton.close, headerbar .titlebutton.maximize, headerbar .titlebutton.minimize, headerbar .titlebutton:not(separator) {
    padding: 2px;
    min-height: 19px;
    min-width: 18px;
    margin-right: -2px;
    margin-left: -2px;
    border: none;
    color: transparent;
    background-color: transparent;
    -gtk-icon-shadow: none;
    background-position: center center;
    background-repeat: no-repeat; }
  headerbar .titlebutton.close {
    background-image: url("assets/close-normal.svg");}
    headerbar .titlebutton.close:hover {
      background-image: url("assets/close-hover.svg"); }
    headerbar .titlebutton.close:active {
      background-image: url("assets/close-active.svg"); }
    headerbar .titlebutton.close:backdrop {
      background-image: url("assets/close-backdrop.svg"); }
  headerbar .titlebutton.minimize {
    background-image: url("assets/minimize-normal.svg"); }
    headerbar .titlebutton.minimize:hover {
      background-image: url("assets/minimize-hover.svg"); }
    headerbar .titlebutton.minimize:active {
      background-image: url("assets/minimize-active.svg"); }
    headerbar .titlebutton.minimize:backdrop {
      background-image: url("assets/minimize-backdrop.svg"); }
  headerbar .titlebutton.maximize {
    background-image: url("assets/maximize-normal.svg"); }
    headerbar .titlebutton.maximize:hover {
      background-image: url("assets/maximize-hover.svg"); }
    headerbar .titlebutton.maximize:active {
      background-image: url("assets/maximize-active.svg"); }
    headerbar .titlebutton.maximize:backdrop {
      background-image: url("assets/maximize-backdrop.svg"); }
